<div class="layout-vertical">
  <div>
    <img id="recipe-primary-image" [src]="recipe.imagePath">
  </div>
  <h1>{{ recipe.name }}</h1>

  <!-- Dropdown Trigger -->
  <a appDropdown class='dropdown-button btn' href='#' data-activates='dropdown1'>Manage</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Add to Shopping List</a></li>
    <li class="divider"></li>
    <li><a href="#!">Edit Recipe</a></li>
    <li><a href="#!">Delete Recipe</a></li>
  </ul>

  <h5>Description:</h5>
  <p>{{ recipe.description}}</p>
  <h5>Ingredients:</h5>
</div>
