<div class="row">
  <form class="col s7">
    <div class="row">
      <!-- Name input -->
      <div class="input-field col s7">
        <input type="text" id="name">
        <label for="name">Name:</label>
      </div>
      <!-- Amount input -->
      <div class="input-field col s3">
        <input type="text" id="amount">
        <label for="amount">Amount:</la bel>
      </div>
    </div>
    <button class="btn green" type="submit">Submit</button>
    <button class="btn teal" type="button">Clear</button>
    <button class="btn red" type="button">Delete</button>
  </form>
</div>
